<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
<h1 th:text="'Hello, ' + ${name}"></h1>
<!--    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>-->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="submit" value="Sign Out"/>-->
<!--    </form>-->
    <div>
        <form method="post" action="/">
            <input type="text" name="text" placeholder="Введите текст">
            <input type="text" name="tag" placeholder="Введите tag">
            <button type="submit">Добавить</button>
        </form>
    </div>

    <div>Список сообщений</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit">Найти</button>
    </form>
    <div th:each="message : ${messages}">
        <i th:text="${message.id}"></i>
        <span th:text="${message.text}"></span>
        <b th:text="${message.tag}"></b>
    </div>
</body>
</html>