<#macro login path>
${message?ifExists}
<form action="/${path}" method="post">
    <div class="form-group">
        <label class="cal-sm-2 col-form-label"> Имя пользователя : </label>
        <div class="col-sm-10">
            <label><input type="text" name="username"/> </label>
        </div>

    </div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</#macro>

<#macro logout>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</#macro>